{% extends "base.html" %}
{% load static %}
{% block title %}RECORD REPORT{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 ">
        <!-- start of first grid  -->
    <div class="flex justify-end items-center m-2 space-x-2">
        {% if request.GET.urlencode %}
            <a href="{% url 'record_report_pdf' %}?{{request.GET.urlencode}}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-rose-600 hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-rose-500">
                <i class="fa-solid fa-file-pdf mr-2"></i> Generate PDF
            </a>
            <a href="?" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
                <i class="fa-solid fa-rotate mr-2"></i> Reset
            </a>
            {% endif %}
        </div>

    <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-4">
        <div class="px-4 py-5 sm:p-6">
            <form method="get" class="space-y-4">
                <div class="md:flex md:justify-center gap-4 grid grid-cols-2">
                    {% for field in recordfilter.form %}
                    <div>
                        <label for="{{ field.id_for_label }}" class="block text-xs font-medium text-gray-700">{{ field.label }}</label>
                        {% if field.field.widget.input_type == 'select' %}
                        <select name="{{ field.name }}" id="{{ field.id_for_label }}" 
                        class="mt-1 focus:ring-cyan-500 focus:border-cyan-500 block w-full shadow-sm text-xs border-gray-300 rounded-md">
                    {% for choice in field.field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == field.value %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                    {% endfor %}
                </select>
                        {% else %}
                            <input type="{{ field.field.widget.input_type }}" 
                                   name="{{ field.name }}" 
                                   id="{{ field.id_for_label }}" 
                                   value="{{ field.value|default:'' }}"
                                   class="mt-1 focus:ring-cyan-500 focus:border-cyan-500 block w-full shadow-sm text-xs border-gray-300 rounded-md"
                            >
                        {% endif %}
                        {% if field.errors %}
                            <p class="mt-2 text-sm text-red-600">{{ field.errors.0 }}</p>
                        {% endif %}
                    </div>
                 {% endfor %}
                    <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        <i class="fa-solid fa-search mr-2"></i> Search
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- end of first grid -->

    {% if request.GET.urlencode %}
    <div class="mx-auto max-w-screen-xl">
    <p class="text-sm text-gray-700 text-center font-semibold">Item Issue Count: {{ total_count }}</p>
   <table class="table-auto max-sm:flex flex rounded-2xl items-center justify-center">
        <tbody class="bg-white border-1 shadow-2xl rrounded-2xl max-sm:p-4 p-2 overflow-x-auto border-amber-700">
            <tr class="text-xs bg-amber-500 text-white">
                <th scope="col" class=" p-1">#</th>
                <th scope="col" class=" p-3">ITEM</th>
                <th scope="col" class=" p-3">DATE ADDED</th>
                <th scope="col" class=" p-3">VENDOR</th>
                <th scope="col" class=" p-3">ISSUED TO</th>
                <th scope="col" class=" p-3">ISSUED BY</th>
                <th scope="col" class=" p-3">QTY ISSUED</th>
                 <th scope="col" class=" p-3">SIV</th>
                <th scope="col" class=" p-3">REQUISITION NUMBER</th> 
                <th scope="col" class=" p-3">BALANCE</th>
                <th scope="col" class=" p-3">DATE ISSUED</th>
            </tr>
            {% for r in po %}
        <tr class="text-xs {% cycle 'bg-white hover:bg-amber-200' 'bg-amber-100 hover:bg-amber-200' %} border-b border-amber-700">
            <td class="border-1 border-amber-700 p-1 text-center">
                {{forloop.counter}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
                {{r.item|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
                {{r.item.date_added|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.item.vendor|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.issued_to|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-1 text-center">
            {{r.issued_by|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.quantity|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.siv|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.requisition_number|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.balance|default_if_none:''}}
            </td>
            <td class="border-1 border-amber-700 p-3 text-center">
            {{r.date_issued|default_if_none:''}}
            </td>
        </tr> 
        {% empty %}
        {%endfor%} 
</tbody>
</table>
<div class="mt-1 flex items-center justify-between">
    <div class="flex-1 flex justify-end">
        {% if po.has_previous %}
        <a href="?page=1&{{ filter_params }}" 
           class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-white bg-amber-600 hover:bg-gray-50 hover:text-amber-600 mr-3">
            <i class="fas fa-angle-double-left"></i>
        </a>
        <a href="?page={{ po.previous_page_number }}&{{ filter_params }}"
           class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-white bg-amber-600 hover:bg-gray-50 hover:text-amber-600 mr-3">
            <i class="fas fa-angle-left"></i>
        </a>
        {% endif %}
        
        {% if po.has_next %}
        <a href="?page={{ po.next_page_number }}&{{ filter_params }}"
           class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-white bg-amber-600 hover:bg-gray-50 hover:text-amber-600">
            <i class="fas fa-angle-right"></i>
        </a>
        <a href="?page={{ po.paginator.num_pages }}&{{ filter_params }}"
           class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-white bg-amber-600 hover:bg-gray-50 hover:text-amber-600 ml-3">
            <i class="fas fa-angle-double-right"></i>
        </a>
        {% endif %}
    </div>
</div>
{%endif%}
  <!-- end of second grid  -->
  </div>
{% endblock %}
