{% extends "base.html" %}
{% load static %}
{% block title %}eWARD{% endblock %}

{% block content %}
<div class="grid grid-cols-2 p-1 gap-1 text-center bg-gray-100 shadow-2xl rounded-xl m-52">
    <a href="{%url 'item_report' %}" class="focus:opacity-10 uppercase focus:border-zinc-600
		bg-gradient-to-r from-zinc-600 via-zinc-500 to-zinc-600 text-white p-6 m-3 rounded shadow-lg hover:shadow-xl text-sm">
        <div>
        <i class="fa-solid fa-list fa-2xl"></i> item report
    </div>
    </a>
    <a href="{%url 'record_report' %}" class="focus:opacity-10 uppercase focus:border-zinc-600
    bg-gradient-to-r from-amber-600 via-amber-500 to-amber-600 text-white p-6 m-3 rounded shadow-lg hover:shadow-xl text-sm">
    <div>
         <i class="fa-solid fa-file-signature fa-2xl"></i> record report
        </div>
    </a>
  </div>
  {% endblock %}
