{% extends 'base.html' %}
{% block title %}Item Restocking{% endblock %}
{% block content %}
<div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="bg-gradient-to-r from-blue-500 to-blue-700 flex justify-center items-center py-2">
          <div class="flex items-center">
              <a href="{% url 'restocked' %}" class="mr-2">
                  <i class="text-white fa-solid fa-arrow-left"></i>
              </a>
              <h2 class="text-white uppercase text-lg m-0">Restock Items</h2>
          </div>
      </div>

      <form id="recordForm" action="" method="POST" enctype="multipart/form-data" class="px-6 py-8 bg-blue-50 text-xs">
          {% csrf_token %}
          
          {% if form.non_field_errors %}
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-6 text-center" role="alert">
              <strong class="">Error!</strong>
              <span class="block sm:inline">{{ form.non_field_errors.0 }}</span>
          </div>
          {% endif %}

          <div class="grid grid-cols-1 gap-6">
              <div class="grid grid-cols-1  gap-4">
                  <div class="form-group">
                      <label class="block text-xs font-medium text-gray-700 uppercase mb-1 text-center">
                          Unit
                      </label>
                      <div class="flex justify-center">
                          {{ form.unit }}
                      </div>
                      {% if form.unit.errors %}
                      <p class="mt-2 text-sm text-red-600 text-center">{{ form.unit.errors.0 }}</p>
                      {% endif %}
                  </div>

                  <div class="form-group">
                      <label class="block text-xs font-medium text-gray-700 uppercase mb-1 text-center">
                          Item
                      </label>
                      <div class="flex justify-center">
                          {{ form.item }}
                      </div>
                      {% if form.item.errors %}
                      <p class="mt-2 text-sm text-red-600 text-center">{{ form.item.errors.0 }}</p>
                      {% endif %}
                  </div>

                  <div class="form-group">
                      <label class="block text-xs font-medium text-gray-700 uppercase mb-1 text-center">
                          Vendor
                      </label>
                      <div class="flex justify-center">
                          {{ form.vendor_name }}
                      </div>
                      {% if form.vendor_name.errors %}
                      <p class="mt-2 text-sm text-red-600 text-center">{{ form.vendor_name.errors.0 }}</p>
                      {% endif %}
                  </div>
              </div>
              
                  <div class="form-group">
                      <label class="block text-xs font-medium text-gray-700 uppercase mb-1 text-center">
                          Qty
                      </label>
                      <div class="flex justify-center">
                          {{ form.quantity_purchased }}
                      </div>
                      {% if form.quantity_purchased.errors %}
                      <p class="mt-2 text-sm text-red-600 text-center">{{ form.quantity_purchased.errors.0 }}</p>
                      {% endif %}
                  </div>

                  <div class="form-group">
                      <label class="block text-xs font-medium text-gray-700 uppercase mb-1 text-center">
                          Expiry Date
                      </label>
                      <div class="flex justify-center">
                          {{ form.expiration_date }}
                      </div>
                      {% if form.expiration_date.errors %}
                      <p class="mt-2 text-sm text-red-600 text-center">{{ form.expiration_date.errors.0 }}</p>
                      {% endif %}
                  </div>
          </div>

          <div class="mt-8 flex justify-center">
              <button type="submit" class="text-xs inline-flex items-center px-6 py-3 border border-transparent font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 uppercase transition duration-150 ease-in-out">
                  Restock
              </button>
          </div>
      </form>
  </div>
</div>

<style>
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group input[type="date"],
  .form-group select {
      @apply mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full max-w-md shadow-sm sm:text-sm border-gray-300 rounded-md;
  }
</style>

<script>
  function initializePage() {
    function load_items() {
      const unitId = document.getElementsByName('unit')[0].value;
      const url = `/get_items_for_unit/${unitId}/`;
  
      fetch(url)
        .then(response => response.json())
        .then(data => {
          const itemSelect = document.getElementsByName('item')[0];
          itemSelect.innerHTML = '';  // Clear existing options
  
          data.items.forEach(item => {
            const option = document.createElement('option');
            option.value = item.id;          
  
            const vendor = item.vendor === 'N/A' ? '' : ` - ${item.vendor}`;
            option.text = `${item.name}${vendor}`.trim();          
            itemSelect.add(option);
          });
        })
        .catch(error => console.error('Error:', error));
    }
  
    document.getElementsByName('unit')[0].addEventListener('change', load_items);
  }
  
  window.addEventListener('load', initializePage);
  </script>

{% endblock %}