{% extends "base.html" %}
{% block title %}Logged out{% endblock %}

{% block content %}
  <div class="flex justify-center">
    <div class="mt-32 shadow-2xl mx-auto bg-white p-10 rounded-xl text-center">
    <p class=" text-green-500 font-bold text-sm uppercase text-center">
      logout successfully,<br> you can sign-in again below
    </p>
    <p class=" text-green-500 font-bold text-xs uppercase text-center">
			 {%if request.path != '/login/' %}
       <div class="mt-4 p-4">
         <a href="{% url "signin" %}" class=" focus:opacity-10 hover:bg-white hover:text-zinc-700 hover:border-2 hover:border-green-600 bg-green-500 text-white p-3 rounded shadow-lg hover:shadow-xl text-xs">
           <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i></a>
          </div>
			{% endif %}

    </p>
  </div>
  </div>
{% endblock %}
